@use 'base.scss';

.auth-title {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 30px;
  color: rgb(114, 114, 114);
}

.register {
  background-color: white;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.comp {
  height: 100vh;
  padding: 10px;
}
.form-container {
  background-color: base.$primary;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: brightness(0.8);
  background: linear-gradient(
      44deg,
      rgba(254, 197, 52, 0.93),
      rgba(254, 197, 52, 0.3)
     
    ),
    url("../images/radisson.jpeg");
}

#authy {
  
  @media #{base.$mq-medium} {
    margin: 0 10%;
  }

  @media #{base.$mq-large} {
    margin: auto;
  }

}
